<div class="row">
    <div class="col-md-3 form-group">
        <label>Enter id:</label>
        <input type="number" name="id" th:value="*{id}" placeholder="Id"/>
    </div>
</div>

<input type="hidden" th:field="*{id}"/>

<input type="text" class="form-control" th:field="*{name}"/>
<input type="text" class="form-control" th:field="*{password}"/>
<input type="text" class="form-control" th:field="*{passwordConfirmation}"/>


<div class="col-md-3 form-group">
    <label>Enter password:</label>
    <input type="password" class="form-control" th:field="*{password}"/>
</div>

<div class="col-md-3 form-group">
    <label>Enter password confirmation:</label>
    <input type="password" class="form-control" th:field="*{passwordConfirmation}"/>
</div>




<body>
<div>
    <form method="POST" modelAttribute="userForm">
        <h2>Регистрация</h2>
        <div>
            <input type="text" path="name" placeholder="Username"
                   autofocus="true"></input>
            <errors path="username"></errors>
            ${usernameError}
        </div>
        <div>
            <input type="password" path="password" placeholder="Password"></input>
        </div>
        <div>
            <input type="password" path="passwordConfirmation"
                   placeholder="Confirm your password"></input>
            <errors path="password"></errors>
            ${passwordError}
        </div>
        <ul>
            <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                <span th:text="${e.message}">The error message</span>
            </li>
        </ul>

        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/user/showAll">Показать всех пользователей</a>


</div>
</body>
</html>