<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Photo Web Storage</title>
</head>
<body>

    <ul>
        <li>
            <a href="/admin/showAll"> For administrators</a>
        </li>

        <li>
            <a href="/login"> Login existing user </a>
        </li>

        <li>
            <a href="user/registration"> Register new user </a>
        </li>

        <li>
            <a href="/news"> news - for registered users </a>
        </li>

        <li>
            <a href="/index"> main page </a>
        </li>
    </ul>
</body>
</html>